<div>
  <button type="button" class="btn btn-success" (click)="toRegister()">
    Enroll as Voter
  </button>
  <button type="button" class="btn btn-warning">Results</button>
  <button type="button" class="btn btn-info" (click)="viewCandidates()">
    View Candidates
  </button>

  <button type="button" class="btn btn-danger" (click)="deleteAccount()">
    Delete Your Account
  </button>

  <button type="button" class="btn btn-danger" (click)="updateAccount()">
    Update Your Account
  </button>
</div>
<footer class="user-logout">
  <button type="button" class="btn btn-warning" (click)="logout()">
    LOGOUT
  </button>
</footer>
