<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Candidate Form No</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Society</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.nominationFormNo }}</td>
        <td>{{ candidate.firstName }}</td>
        <td>{{ candidate.lastName }}</td>
        <td>{{ candidate.societyName }}</td>
      </tr>
    </tbody>
  </table>
</div>
