<h1 class="text-center">Officer Registration Portal</h1>
<div class="container col-md-4">
  <form #registerform="ngForm" (ngSubmit)="registerOfficer()">
    <div class="form-group">
      <label for="exampleInputPassword1">First Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="First Name"
        name="firstName"
        [(ngModel)]="officer.firstName"
        required=""
        #firstName="ngModel"
        [class.is-invalid]="firstName.invalid && firstName.touched"
      />
      <div *ngIf="firstName.errors && firstName.invalid && firstName.touched">
        <small class="text-danger" *ngIf="firstName.errors.required"
          >First Name is required</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Last Name"
        name="lastName"
        [(ngModel)]="officer.lastName"
        required=""
        #lastName="ngModel"
        [class.is-invalid]="lastName.invalid && lastName.touched"
      />
      <div *ngIf="lastName.errors && lastName.invalid && lastName.touched">
        <small class="text-danger" *ngIf="lastName.errors.required"
          >Last Name is required</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
        name="email"
        [(ngModel)]="officer.emailId"
        required
        pattern="[a-zA-z_]{1}[a-zA-z_0-9]*[@]{1}[a-z]*[//.]{1}[a-z]*"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors.required"
          >Email is required</small
        >
        <small class="text-danger" *ngIf="email.errors.pattern"
          >Email is in incorrect format</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        name="password"
        [(ngModel)]="officer.password"
        required=""
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
      <div *ngIf="password.errors && password.invalid && password.touched">
        <small class="text-danger" *ngIf="password.errors.required"
          >Password is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contact</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Contact Number"
        name="contactNo"
        [(ngModel)]="officer.mobileno"
        required
        pattern="[6-9]{1}[0-9]{9}"
        #contact="ngModel"
        [class.is-invalid]="contact.invalid && contact.touched"
      />
      <div *ngIf="contact.errors && contact.invalid && contact.touched">
        <small class="text-danger" *ngIf="contact.errors.required"
          >Contact Number is Required</small
        >
        <small class="text-danger" *ngIf="contact.errors.pattern"
          >Contact Number is invalid</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Gender</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Gender"
        name="gender"
        [(ngModel)]="officer.gender"
        required
        #gender="ngModel"
        [class.is-invalid]="gender.invalid && gender.touched"
      />
      <div *ngIf="gender.errors && gender.invalid && gender.touched">
        <small class="text-danger" *ngIf="gender.errors.required"
          >Gender is Required</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Address 1</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Address Line Number 1"
        name="address1"
        [(ngModel)]="officer.address1"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Address 2</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Address Line Number 2"
        name="address2"
        [(ngModel)]="officer.address2"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">District</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="District"
        name="district"
        [(ngModel)]="officer.district"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Pincode</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Pincode"
        name="pincode"
        [(ngModel)]="officer.pincode"
      />
    </div>
    <div class="form-group form-check"></div>
    <button
      [disabled]="registerform.form.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Register
    </button>
  </form>
</div>

<div class="warning">{{ warning }}</div>
