<h1 class="text-center">Update Society</h1>
<div class="container col-md-4">
  <form #registerform="ngForm" (ngSubmit)="updateSociety()">
    <div class="form-group">
      <label for="exampleInputPassword1">Society Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Name"
        name="firstName"
        [(ngModel)]="society.societyName"
        required=""
        #firstName="ngModel"
        [class.is-invalid]="firstName.invalid && firstName.touched"
      />
      <div *ngIf="firstName.errors && firstName.invalid && firstName.touched">
        <small class="text-danger" *ngIf="firstName.errors.required"
          >Society Name is required</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Head of Society</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Head of Society"
        name="lastName"
        [(ngModel)]="society.headOfSociety"
        required=""
        #lastName="ngModel"
        [class.is-invalid]="lastName.invalid && lastName.touched"
      />
      <div *ngIf="lastName.errors && lastName.invalid && lastName.touched">
        <small class="text-danger" *ngIf="lastName.errors.required"
          >Head of Society is required</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Village</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Village"
        name="email"
        [(ngModel)]="society.village"
        required
        #village="ngModel"
        [class.is-invalid]="village.invalid && village.touched"
      />
      <div *ngIf="village.errors && village.invalid && village.touched">
        <small class="text-danger" *ngIf="village.errors.required"
          >Village is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">District</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="District"
        name="district"
        [(ngModel)]="society.district"
        required=""
        #district="ngModel"
        [class.is-invalid]="district.invalid && district.touched"
      />
      <div *ngIf="district.errors && district.invalid && district.touched">
        <small class="text-danger" *ngIf="district.errors.required"
          >District is required</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Pincode</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Pincode"
        name="pincode"
        [(ngModel)]="society.pincode"
        required=""
        #pincode="ngModel"
        [class.is-invalid]="district.invalid && district.touched"
      />
      <div *ngIf="pincode.errors && pincode.invalid && pincode.touched">
        <small class="text-danger" *ngIf="pincode.errors.required"
          >Pincode is required</small
        >
      </div>
    </div>

    <div class="form-group form-check"></div>
    <button
      [disabled]="registerform.form.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Update
    </button>
  </form>
</div>
