<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Head</th>
        <th scope="col">District</th>
        <th scope="col">Pincode</th>
        <th scope="col" colspan="2">MODIFY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let society of societies">
        <td>{{ society.societyName }}</td>
        <td>{{ society.headOfSociety }}</td>
        <td>{{ society.district }}</td>
        <td>{{ society.pincode }}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(society.societyId)">
            DELETE
          </button>
        </td>
        <td>
          <button class="btn btn-warning" (click)="update(society.societyId)">
            UPDATE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
