<div>
  <button type="button" class="btn btn-primary" (click)="createSociety()">
    CREATE SOCIETY
  </button>
  <button type="button" class="btn btn-info" (click)="viewVoters()">
    VOTERS
  </button>
  <button type="button" class="btn btn-danger" (click)="viewCandidates()">
    CANDIDATES
  </button>
  <button type="button" class="btn btn-warning" (click)="viewUsers()">
    USERS
  </button>
  <button type="button" class="btn btn-warning" (click)="viewSocieties()">
    SOCIETIES
  </button>
  <button type="button" class="btn btn-info" (click)="addOfficer()">
    ADD OFFICER
  </button>
  <button type="button" class="btn btn-danger" (click)="addUser()">
    ADD USER
  </button>
</div>
<footer>
  <button type="button" class="btn btn-warning" (click)="logout()">
    LOGOUT
  </button>
</footer>
