h1{
    margin-bottom: 40px;
}

a{
    margin-left: 15px;
    text-decoration: none;
}

.warning{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 700;
    color: red;
}

