<div>
  <button type="submit" class="btn btn-danger" (click)="viewVoters()">
    VOTERS
  </button>
  <button type="submit" class="btn btn-dark" (click)="viewCandidates()">
    CANDIDATES
  </button>
  <button id="announce" type="submit" class="btn btn-info" (click)="announce()">
    ANNOUNCE
  </button>
  <button type="submit" class="btn btn-success" (click)="viewResults()">
    Results
  </button>
  <div class="announce" style="display: none" id="msg">
    <h1>Elections Announced</h1>
    <h2>Total Candidates - {{ totalC }}</h2>
    <h2>Total Voters - {{ totalV }}</h2>
  </div>
</div>

<footer class="officer-logout">
  <button type="submit" class="btn btn-danger" (click)="logout()">
    LOGOUT
  </button>
</footer>
