<div class="col-md-8">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Candidate Form No</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Society</th>
        <th scope="col" colspan="2">MODIFY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.nominationFormNo }}</td>
        <td>{{ candidate.firstName }}</td>
        <td>{{ candidate.lastName }}</td>
        <td>{{ candidate.societyName }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteCandidate(candidate.candidateId)"
          >
            Delete
          </button>
        </td>
        <td>
          <button
            class="btn btn-success"
            (click)="updateCandidate(candidate.candidateId)"
          >
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
