a{
    text-decoration: none;
    margin: 20px;
}

h1{
    margin-bottom: 50px;
}

.warning{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-weight: 700;
    color: red;
}