<div class="col-md-8">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Voter ID</th>
        <th scope="col">Email Id</th>
        <th scope="col">Society</th>
        <th scope="col" colspan="2">MODIFY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voter of voters">
        <td>{{ voter.firstName }}</td>
        <td>{{ voter.lastName }}</td>
        <td>{{ voter.voterIdCardNo }}</td>
        <td>{{ voter.emailId }}</td>
        <td>{{ voter.society.societyName }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteVoter(voter.voterIdCardNo)"
          >
            DELETE
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-dark"
            (click)="updateVoter(voter.voterIdCardNo)"
          >
            UPDATE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
