<div>
  <button
    type="button"
    class="btn btn-success"
    (click)="updateDetails(voter.voterIdCardNo)"
  >
    UPDATE DETAILS
  </button>
  <button type="button" class="btn btn-warning" (click)="viewVoterlist()">
    VIEW VOTERS
  </button>

  <button type="button" class="btn btn-success" (click)="vote()">
    CAST VOTE
  </button>
</div>

<div class="nomination">
  Fill Nomination:<input type="checkbox" id="myCheck" (click)="myFunction()" />
  <button
    id="nom"
    style="display: none"
    type="button"
    class="btn btn-danger"
    (click)="fillform()"
  >
    FILL NOMINATION
  </button>
</div>

<footer>
  <button type="button" class="btn btn-info" (click)="logout()">LOGOUT</button>
</footer>
